
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">AngularDemo</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="category" class="nav-link">Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="products" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
    <!-- <div class="d-flex justify-content-end">
      <button  routerLink=" " matTooltip="Accent" color="accent">
        <mat-icon>home</mat-icon>
       </button>
    </div> -->
  </nav>

  <div class=" mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
